# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/
.env

# Python cache and logs
*.pyc
*.pyo
*.pyd
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local secrets and env files
*.tfvars
*.tfvars.json
secrets.tfvars

# Misc
*.swp
*.swo
*.bak
~*
